/* styles.css */

.slick-slider {
    width: 80%;
    margin: auto;
    padding-top: 120px;
    margin-left: 40px;
  }
  
  .slick-slide img {
    width: 40%;
    height: auto;
  }

  @media screen and (max-width: 768px) {
    .slick-slide img {
      width: 80%;
    }
  }
  