.link {
    text-decoration: none;
}
.CardSection {
    width: 270px;
    border-radius: 13px;
    background-color: white;
    box-shadow: 0 3px 10px rgba(66, 66, 66, 0.342);
    overflow: hidden; /* Prevents overflowing content */
}

.CardSection img {
    width: 100%;
    height: 160px; /* Adjust the height as needed */
    object-fit: cover; /* Maintains the aspect ratio of the image */
    border-radius: 8px 8px 0 0; /* Only rounded corners at the top */
}

.CardSection .cardContent {
    background-color: white;
    border-radius: 0 0 8px 8px; /* Only rounded corners at the bottom */
    padding: 7px;
    min-height: 100px; /* Set a minimum height for consistent appearance */
}

.CardSection .cardContent h2 {
    font-size: 18px;
    color: black;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis; /* Truncate long text with an ellipsis */
    margin-top: 10px;
}

.CardSection .cardContent h4 {
    font-size: 14px;
    color: rgb(87, 87, 87);
}

.CardSection .readMoreLink {
    display: block;
    color: #007bff; /* Blue link color, change as needed */
    text-decoration: underline;
    cursor: pointer;
}

.cardContent span {
    background-color: rgba(87, 87, 87, 0.725);
    color: white;
    padding: 3px 5px;
    border-radius: 3px;
    font-size: 10px;
}